.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
}
.flex-container a {
  text-decoration: none;
  color: black;
}
.item-1 {
  background-color: #8594A6;
  padding: 10px;
  flex: 50%;
}

.item-2 {
  background-color: #3E4658;
  padding: 10px;
  flex: 50%;
}

@media (max-width: 576px) {
  .flex-container {
    flex-direction: column;
  }
}
@media (min-width: 577px) {
    .flex-container {
      padding: 0px;  
    }
    [class*="item-"]{
        width: 50%
    }
}
@media (min-width: 992px) {
    .flex-container {
        padding: 50px;  
      }
}