#background{
    background-color: rgb(26, 9, 76);
}
#para1{
    background-color: rgb(146, 218, 246);font-size:80px
}  
#para2{
    background-color: rgb(146, 218, 246); font-size:30px
}
#para3{
    font-size:28px
}